.mt-5{margin-top:5px !important}.mt-10{margin-top:10px}.mt-15{margin-top:15px}.mt-20{margin-top:20px}.mt-25{margin-top:25px}.mt-30{margin-top:30px}.mt-35{margin-top:35px}.mt-40{margin-top:40px}.mt-45{margin-top:45px}.mt-50{margin-top:50px}.mt-55{margin-top:55px}.mt-60{margin-top:60px}.mt-65{margin-top:65px}.mt-70{margin-top:70px}.mt-75{margin-top:75px}.mt-80{margin-top:80px}.mt-85{margin-top:85px}.mt-90{margin-top:90px}.mt-95{margin-top:95px}.mt-100{margin-top:100px}.mt-105{margin-top:105px}.mt-110{margin-top:110px}.mt-115{margin-top:115px}.mt-120{margin-top:120px}.mt-125{margin-top:125px}.mt-130{margin-top:130px}.mt-135{margin-top:135px}.mt-140{margin-top:140px}.mt-145{margin-top:145px}.mt-150{margin-top:150px}.mt-155{margin-top:155px}.mt-160{margin-top:160px}.mt-165{margin-top:165px}.mt-170{margin-top:170px}.mt-175{margin-top:175px}.mt-180{margin-top:180px}.mt-185{margin-top:185px}.mt-190{margin-top:190px}.mt-195{margin-top:195px}.mt-200{margin-top:200px}.mb-5{margin-bottom:5px !important}.mb-8{margin-bottom:8px !important}.mb-10{margin-bottom:10px}.mb-15{margin-bottom:15px}.mb-20{margin-bottom:20px}.mb-25{margin-bottom:25px}.mb-30{margin-bottom:30px}.mb-35{margin-bottom:35px}.mb-40{margin-bottom:40px}.mb-45{margin-bottom:45px}.mb-50{margin-bottom:50px}.mb-55{margin-bottom:55px}.mb-60{margin-bottom:60px}.mb-65{margin-bottom:65px}.mb-70{margin-bottom:70px}.mb-75{margin-bottom:75px}.mb-80{margin-bottom:80px}.mb-85{margin-bottom:85px}.mb-90{margin-bottom:90px}.mb-95{margin-bottom:95px}.mb-100{margin-bottom:100px}.mb-105{margin-bottom:105px}.mb-110{margin-bottom:110px}.mb-115{margin-bottom:115px}.mb-120{margin-bottom:120px}.mb-125{margin-bottom:125px}.mb-130{margin-bottom:130px}.mb-135{margin-bottom:135px}.mb-140{margin-bottom:140px}.mb-145{margin-bottom:145px}.mb-150{margin-bottom:150px}.mb-155{margin-bottom:155px}.mb-160{margin-bottom:160px}.mb-165{margin-bottom:165px}.mb-170{margin-bottom:170px}.mb-175{margin-bottom:175px}.mb-180{margin-bottom:180px}.mb-185{margin-bottom:185px}.mb-190{margin-bottom:190px}.mb-195{margin-bottom:195px}.mb-200{margin-bottom:200px}.ml-5{margin-left:5px}.ml-10{margin-left:10px}.ml-15{margin-left:15px}.ml-20{margin-left:20px}.ml-25{margin-left:25px}.ml-30{margin-left:30px}.ml-35{margin-left:35px}.ml-40{margin-left:40px}.ml-45{margin-left:45px}.ml-50{margin-left:50px}.ml-55{margin-left:55px}.ml-60{margin-left:60px}.ml-65{margin-left:65px}.ml-70{margin-left:70px}.ml-75{margin-left:75px}.ml-80{margin-left:80px}.ml-85{margin-left:85px}.ml-90{margin-left:90px}.ml-95{margin-left:95px}.ml-100{margin-left:100px}.ml-105{margin-left:105px}.ml-110{margin-left:110px}.ml-115{margin-left:115px}.ml-120{margin-left:120px}.ml-125{margin-left:125px}.ml-130{margin-left:130px}.ml-135{margin-left:135px}.ml-140{margin-left:140px}.ml-145{margin-left:145px}.ml-150{margin-left:150px}.ml-155{margin-left:155px}.ml-160{margin-left:160px}.ml-165{margin-left:165px}.ml-170{margin-left:170px}.ml-175{margin-left:175px}.ml-180{margin-left:180px}.ml-185{margin-left:185px}.ml-190{margin-left:190px}.ml-195{margin-left:195px}.ml-200{margin-left:200px}.mr-5{margin-right:5px}.mr-10{margin-right:10px}.mr-15{margin-right:15px}.mr-20{margin-right:20px}.mr-25{margin-right:25px}.mr-30{margin-right:30px}.mr-35{margin-right:35px}.mr-40{margin-right:40px}.mr-45{margin-right:45px}.mr-50{margin-right:50px}.mr-55{margin-right:55px}.mr-60{margin-right:60px}.mr-65{margin-right:65px}.mr-70{margin-right:70px}.mr-75{margin-right:75px}.mr-80{margin-right:80px}.mr-85{margin-right:85px}.mr-90{margin-right:90px}.mr-95{margin-right:95px}.mr-100{margin-right:100px}.mr-105{margin-right:105px}.mr-110{margin-right:110px}.mr-115{margin-right:115px}.mr-120{margin-right:120px}.mr-125{margin-right:125px}.mr-130{margin-right:130px}.mr-135{margin-right:135px}.mr-140{margin-right:140px}.mr-145{margin-right:145px}.mr-150{margin-right:150px}.mr-155{margin-right:155px}.mr-160{margin-right:160px}.mr-165{margin-right:165px}.mr-170{margin-right:170px}.mr-175{margin-right:175px}.mr-180{margin-right:180px}.mr-185{margin-right:185px}.mr-190{margin-right:190px}.mr-195{margin-right:195px}.mr-200{margin-right:200px}.pt-5{padding-top:5px !important}.pt-10{padding-top:10px}.pt-15{padding-top:15px}.pt-20{padding-top:20px}.pt-25{padding-top:25px}.pt-30{padding-top:30px}.pt-35{padding-top:35px}.pt-40{padding-top:40px}.pt-45{padding-top:45px}.pt-50{padding-top:50px}.pt-55{padding-top:55px}.pt-60{padding-top:60px}.pt-65{padding-top:65px}.pt-70{padding-top:70px}.pt-75{padding-top:75px}.pt-80{padding-top:80px}.pt-85{padding-top:85px}.pt-90{padding-top:90px}.pt-95{padding-top:95px}.pt-100{padding-top:100px}.pt-105{padding-top:105px}.pt-110{padding-top:110px}.pt-115{padding-top:115px}.pt-120{padding-top:120px}.pt-125{padding-top:125px}.pt-130{padding-top:130px}.pt-135{padding-top:135px}.pt-140{padding-top:140px}.pt-145{padding-top:145px}.pt-150{padding-top:150px}.pt-155{padding-top:155px}.pt-160{padding-top:160px}.pt-165{padding-top:165px}.pt-170{padding-top:170px}.pt-175{padding-top:175px}.pt-180{padding-top:180px}.pt-185{padding-top:185px}.pt-190{padding-top:190px}.pt-195{padding-top:195px}.pt-200{padding-top:200px}.pb-5{padding-bottom:5px !important}.pb-10{padding-bottom:10px}.pb-15{padding-bottom:15px}.pb-20{padding-bottom:20px}.pb-25{padding-bottom:25px}.pb-30{padding-bottom:30px}.pb-35{padding-bottom:35px}.pb-40{padding-bottom:40px}.pb-45{padding-bottom:45px}.pb-50{padding-bottom:50px}.pb-55{padding-bottom:55px}.pb-60{padding-bottom:60px}.pb-65{padding-bottom:65px}.pb-70{padding-bottom:70px}.pb-75{padding-bottom:75px}.pb-80{padding-bottom:80px}.pb-85{padding-bottom:85px}.pb-90{padding-bottom:90px}.pb-95{padding-bottom:95px}.pb-100{padding-bottom:100px}.pb-105{padding-bottom:105px}.pb-110{padding-bottom:110px}.pb-115{padding-bottom:115px}.pb-120{padding-bottom:120px}.pb-125{padding-bottom:125px}.pb-130{padding-bottom:130px}.pb-135{padding-bottom:135px}.pb-140{padding-bottom:140px}.pb-145{padding-bottom:145px}.pb-150{padding-bottom:150px}.pb-155{padding-bottom:155px}.pb-160{padding-bottom:160px}.pb-165{padding-bottom:165px}.pb-170{padding-bottom:170px}.pb-175{padding-bottom:175px}.pb-180{padding-bottom:180px}.pb-185{padding-bottom:185px}.pb-190{padding-bottom:190px}.pb-195{padding-bottom:195px}.pb-200{padding-bottom:200px}.pb-210{padding-bottom: 210px;}.pb-240{padding-bottom: 240px;}.pl-5{padding-left:5px}.pl-10{padding-left:10px}.pl-15{padding-left:15px}.pl-20{padding-left:20px}.pl-25{padding-left:25px}.pl-30{padding-left:30px}.pl-35{padding-left:35px}.pl-40{padding-left:40px}.pl-45{padding-left:45px}.pl-50{padding-left:50px}.pl-55{padding-left:55px}.pl-60{padding-left:60px}.pl-65{padding-left:65px}.pl-70{padding-left:70px}.pl-75{padding-left:75px}.pl-80{padding-left:80px}.pl-85{padding-left:85px}.pl-90{padding-left:90px}.pl-95{padding-left:95px}.pl-100{padding-left:100px}.pl-105{padding-left:105px}.pl-110{padding-left:110px}.pl-115{padding-left:115px}.pl-120{padding-left:120px}.pl-125{padding-left:125px}.pl-130{padding-left:130px}.pl-135{padding-left:135px}.pl-140{padding-left:140px}.pl-145{padding-left:145px}.pl-150{padding-left:150px}.pl-155{padding-left:155px}.pl-160{padding-left:160px}.pl-165{padding-left:165px}.pl-170{padding-left:170px}.pl-175{padding-left:175px}.pl-180{padding-left:180px}.pl-185{padding-left:185px}.pl-190{padding-left:190px}.pl-195{padding-left:195px}.pl-200{padding-left:200px}.pr-5{padding-right:5px}.pr-10{padding-right:10px}.pr-15{padding-right:15px}.pr-20{padding-right:20px}.pr-25{padding-right:25px}.pr-30{padding-right:30px}.pr-35{padding-right:35px}.pr-40{padding-right:40px}.pr-45{padding-right:45px}.pr-50{padding-right:50px}.pr-55{padding-right:55px}.pr-60{padding-right:60px}.pr-65{padding-right:65px}.pr-70{padding-right:70px}.pr-75{padding-right:75px}.pr-80{padding-right:80px}.pr-85{padding-right:85px}.pr-90{padding-right:90px}.pr-95{padding-right:95px}.pr-100{padding-right:100px}.pr-105{padding-right:105px}.pr-110{padding-right:110px}.pr-115{padding-right:115px}.pr-120{padding-right:120px}.pr-125{padding-right:125px}.pr-130{padding-right:130px}.pr-135{padding-right:135px}.pr-140{padding-right:140px}.pr-145{padding-right:145px}.pr-150{padding-right:150px}.pr-155{padding-right:155px}.pr-160{padding-right:160px}.pr-165{padding-right:165px}.pr-170{padding-right:170px}.pr-175{padding-right:175px}.pr-180{padding-right:180px}.pr-185{padding-right:185px}.pr-190{padding-right:190px}.pr-195{padding-right:195px}.pr-200{padding-right:200px}

.blog-one-main__item .blog-thumb a img {
    width: inherit !important;
    height: inherit !important;
    object-fit: cover;
}
.pagination-common .pagination .page-item a, 
.pagination-common .pagination .page-item .current,
.pagination-common .pagination .page-item .dots {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: #f4f0e9;
    border: none;
    color: var(--dinevo-primary-color);
    text-align: center;
    font-family: var(--ff-dm-sans);
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    letter-spacing: -0.28px;
    text-transform: capitalize;
    display: inline-block;
    text-align: center;
    line-height: 50px;
}
.pagination-common .pagination .page-item a
.pagination-common .pagination .page-item a:hover {
    background-color: var(--dinevo-primary-color);
    color: var(--color-white);
}
.pagination-common .pagination .page-item .current {
    background-color: var(--dinevo-primary-color);
    color: var(--color-white);
}
.widget .wp-block-heading, 
.widget .wp-block-search__label {
    color: var(--dinevo-primary-color);
    font-family: var(--ff-boldonse);
    font-size: 12px;
    font-weight: 400;
    line-height: 1;
    letter-spacing: -0.24px;
    text-transform: uppercase;
    margin-bottom: 22px;
    border-bottom: 1px solid rgba(var(--dinevo-primary-color-rgb), 0.14);
    padding-bottom: 24px;
}

.widget_block .wp-block-latest-posts li a {
    color: var(--dinevo-primary-color);
    font-family: var(--ff-boldonse);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: -0.32px;
    text-transform: uppercase;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
}
.widget_block .wp-block-latest-posts li:not(:last-child) {
    margin-bottom: 20px;
}

.widget form input {
    height: 50px;
    border: 1px solid rgba(var(--dinevo-primary-color-rgb), 0.14);
    border-right: none;
    border-radius: 10px 0 0 10px;
    padding: 0 15px;
    color: var(--color-gray);
    font-size: 16px;
    outline: none;
    font-family: var(--ff-dm-sans);
    background-color: transparent;
    min-width: 0;
}

.widget .wpr-sidebar-search-input.input-field {
    display: flex;
}
.widget form button {
    width: 50px;
    height: 50px;
    background-color: var(--dinevo-primary-color);
    border: none;
    border-radius: 0 10px 10px 0;
    color: var(--color-white);
    font-size: 18px;
    cursor: pointer;
    transition: all 0.5s ease;
}
.widget form button:hover {
    background-color: var(--color-black);
    color: var(--color-white);
}
.widget form button i{
    font-weight: 400;
}
.widget .tagcloud {
    display: flex;
    flex-wrap: wrap;
    column-gap: 6px;
    row-gap: 10px;
}
.tagcloud a {
    padding: 3px 12px;
    border: 1px solid rgba(var(--dinevo-primary-color-rgb), 0.14);
    background-color: var(--color-white);
    color: var(--dinevo-primary-color);
    font-family: var(--ff-dm-sans);
    font-size: 14px !important;
    font-weight: 500;
    line-height: 34px;
    letter-spacing: -0.28px;
    text-transform: capitalize;
    white-space: nowrap;
    transition: all 0.5s ease;
}
.tagcloud a:hover, .tagcloud a.active {
    background-color: var(--dinevo-secondary-color);
    border-color: var(--dinevo-secondary-color);
    color: var(--dinevo-primary-color);
}
/*tags end*/

.blog-single__wrapper .block-quote {
    background-color: #f9f7ed;
    border-left: 1px solid #141414;
    padding-inline: 40px;
    padding-block: 16px 12px;
    margin-block: 35px 40px;
    text-align: left;
}
.blog-single__wrapper .block-quote::before {
    color: #141414;
}
.post-meta-details-wrap.d-flex li:not(:last-child)::before {
    position: absolute;
    left: 100%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 2px;
    height: 2px;
    border-radius: 50%;
    content: "";
    background-color: var(--dinevo-primary-color);
    padding: 2px;
}
.post-meta-details-wrap.d-flex {
    padding: 0;
    border-bottom: 1px solid rgba(14, 15, 17, 0.08);
    padding-bottom: 15px;
}
.post-meta-details-wrap.d-flex li {
    position: relative;
}
.post-meta-details-wrap.d-flex li:not(:last-child) {
    padding-right: 10px;
}
.post-meta-details-wrap.d-flex li:not(:first-child) {
    padding-left: 10px;
}
.post-meta-details-wrap.d-flex li a {
    color: #000;
}
.block-quote h5{
    line-height: 1.5;
}
.blog-single__wrapper .blog-figure {
    border-radius: 18px;
    overflow: hidden;
    margin-block: 40px 45px;
}
.blog-single__wrapper .sub-title {
    font-weight: 500;
    line-height: 115.385%;
    letter-spacing: 0.26px;
    margin-bottom: 20px;
}
.blog-single__wrapper p.text {
    margin-bottom: 28px;
}
.blog-single__wrapper p {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.4;
}

.wpr-postbox-details-navigation {
    word-break: break-word;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-top: 1px solid #e1e6ff;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border: 1px solid rgba(14, 15, 17, 0.08);
    padding: 25px;
}
.wpr-postbox-details-navigation-content h4 {
  display: none;
}
.wpr-postbox-details-navigation-content .prev-post, .wpr-postbox-details-navigation-content .next-post{
  width: 45px;
  height: 45px;
  border-radius: 45px;
  line-height: 45px;
  background: #000;
  display: inline-block;
  text-align: center;
  margin-right: 5px;
  transition: all 0.4s ease-in-out;
  color: #fff;
}
.wpr-postbox-details-navigation-content .next-post{
  margin-left: 5px;
}
.wpr-postbox-details-navigation-content a:hover span {
  background-color: var(--dinevo-primary-color);
  color: #fff;
}
.wpr-postbox-details-navigation-content a:hover {
  color: #000;
}
.blog-details-share-wrap .tagcloud a{
    padding: 3px 16px;
}
.blog-details-share-wrap .tagcloud a:hover {
    background-color: var(--dinevo-primary-color);
    border-color: var(--dinevo-primary-color);
    color: #fff;
}

/*comments*/
.wpr-contact-from-box {
  border-radius: 20px;
  padding: 70px 80px 65px;
  backdrop-filter: blur(15px);
  fill: rgba(255, 255, 255, 0.1);
  filter: drop-shadow(0px 40px 80px rgba(51, 65, 140, 0.06));
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .wpr-contact-from-box {
    padding: 60px 50px 60px;
  }
}
@media only screen and (max-width: 767px) {
  .wpr-contact-from-box {
    padding: 30px;
  }
}
.wpr-contact-from-title {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 30px;
  color: var(--tp-heading-2);
}
.wpr-contact-input-form label {
  color: #0E0F11;
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 10px;
}
.wpr-contact-input-form input, .wpr-contact-input-form textarea, #review_form .comment-form textarea, #review_form .comment-form input {
    width: 100%;
    height: 50px;
    background-color: var(--color-white);
    border: 1px solid rgba(var(--dinevo-primary-color-rgb), 0.14);
    border-radius: 10px;
    padding: 0 45px 0 20px;
    font-family: var(--ff-dm-sans);
    font-size: 14px;
    color: var(--color-gray);
    line-height: 1.6;
    margin-bottom: 15px;
}
#review_form .comment-form input.wpr-product-details-review-btn.wpr-btn-submit{
    transition: .3s;
}
#review_form .comment-form input.wpr-product-details-review-btn.wpr-btn-submit:hover{
    background-color: var(--dinevo-primary-color);
    color: #fff;
}
.wpr-contact-input-form input:focus, .wpr-contact-input-form textarea:focus {
  outline: none;
}
.wpr-contact-input-form textarea, #review_form .comment-form textarea {
  resize: none;
  height: 160px;
  line-height: 56px;
}
.wpr-contact-input-form .wpr-contact-input {
  margin-bottom: 15px;
}
.wpr-contact-input-form .wpr-contact-input.schedule {
  margin-bottom: 20px;
}
.wpr-contact-input-form input:focus, .wpr-contact-input-form textarea:focus {
    outline: none;
    box-shadow: none;
    border-color: var(--dinevo-primary-color);
}
.comments-area.postbox__comment.latest-comments.wpr-postbox-comment-from.wpr-postbox-comment .comment-notes {
  margin-bottom: 20px;
}
.wpr-postbox-comment-from .comment-reply-title {
  margin-bottom: 20px;
  color: #000;
}
.wpr-postbox-comment-reply a {
  font-weight: 400;
  font-size: 15px;
  color: #fff;
  padding: 4px 14px;
  border-radius: 100px;
  border: 1px solid rgba(3, 31, 66, 0.1);
  box-shadow: 0 1px 1px 0 rgba(48, 54, 81, 0.06);
  text-decoration: none !important;
  background-color: #1D1F20;
}
.wpr-postbox-comment-title {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 30px !important;
}
.wpr-postbox-comment ul .children {
  padding-left: 100px;
}
@media only screen and (max-width: 767px) {
  .wpr-postbox-comment ul .children {
    padding-left: 0;
  }
}
.wpr-postbox-comment-name {
  margin-bottom: 15px;
}
.wpr-postbox-comment-name h5 {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 5px !important;
  text-transform: capitalize;
}
.wpr-postbox-comment-name span {
  font-size: 14px;
  font-weight: 400;
}
.wpr-postbox-comment-reply a svg {
  display: inline-block;
  margin-right: 5px;
  transform: translateY(-2px);
}
.wpr-postbox-comment-reply a:hover {
  color: #fff;
  background-color: var(--dinevo-primary-color);
  border: 1px solid var(--dinevo-primary-color);
}
.postbox__wrapper ul li{
    line-height: 1.5;
}
.postbox__text .wpr-postbox-comment-reply a {
    color: #fff;
}
.wpr-postbox-comment-box {
    padding-bottom: 40px;
    margin-bottom: 40px;
    border-bottom: 1px solid rgba(14, 15, 17, 0.08);
}
.wpr-postbox-comment-text p {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
}
.blog-area-7 .blog-pagination ul li {
    list-style: none;
}
.postbox__wrapper ul, .postbox__wrapper ol{
    margin-bottom: 1rem;
}
.postbox__wrapper .nice-select .list {
    width: 100%;
}
.postbox__comment-avater img {
    max-width: 50px;
    max-height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

p.logged-in-as a {
    color: #141414 !important;
}
p.logged-in-as a:hover {
    color: var(--dinevo-primary-color) !important;
}
.single-post .breadcrumb-cloud-ktchen.section .cloud-ktchen__header .header-title .top-tag {
    display: none;
}

.single-post .breadcrumb-cloud-ktchen.section .cloud-ktchen__header .header-title {
    font-size: 52px;
    width: auto;
}
body.search .breadcrumb-cloud-ktchen.section .cloud-ktchen__header .header-title {
    font-size: 80px;
}
body.archive .breadcrumb-cloud-ktchen.section .cloud-ktchen__header .header-title {
  font-size: 80px;
}

@media only screen and (max-width: 767.98px) {
    .single-post .breadcrumb-cloud-ktchen.section .cloud-ktchen__header .header-title {
        font-size: 36px;
    }
    body.search .breadcrumb-cloud-ktchen.section .cloud-ktchen__header .header-title {
        font-size: 36px;
    }
    body.archive .breadcrumb-cloud-ktchen.section .cloud-ktchen__header .header-title {
      font-size: 36px;
    }
}
.footer-cloud-ktchen__main {
    padding-top: 120px !important;
}
span.wp-calendar-nav-prev a {
    color: #ddd;
}
.footer-widget ul ul {
    padding-left: 15px;
    padding-top: 8px;
}
.widget_search .wpr-sidebar-search-input.input-field {
    display: flex;
}
.footer-widget.widget_search input {
    height: 50px;
    border: 1px solid rgba(var(--dinevo-primary-color-rgb), 0.14);
    border-right: none;
    border-radius: 10px 0 0 10px;
    padding: 0 15px;
    color: var(--color-gray);
    font-size: 16px;
    outline: none;
    font-family: var(--ff-dm-sans);
    background-color: #fff;
    min-width: 0;
}
.footer-widget.widget_search button.search-btn {
    width: 50px;
    height: 50px;
    background-color: #000;
    border: none;
    border-radius: 0 10px 10px 0;
    color: var(--color-white);
    font-size: 18px;
    cursor: pointer;
    transition: all 0.5s ease;
}
.footer-widget.widget_text p {
    color: #fff;
    margin-bottom: 15px;
    opacity: .74;
}
.footer-widget.widget_nav_menu ul li{
    margin-bottom: 15px;
}
.footer-widget ul li a {
    color: #fff;
    font-size: 18px;
}
.footer-widget ul li a:hover{
    color: #ffd746;
}
.footer-cloud-ktchen__main .footer-widget > ul li ul li:not(:last-child) {
    margin-bottom: 15px;
}

.sidebar__widget ul li:not(:first-child) {
    padding-top: 13px;
}
.sidebar__widget ul li {
    line-height: 166.667%;
    position: relative;
    transition: all 0.3s ease-in-out;
    list-style: none;
}
.sidebar__widget ul li a {
    display: block;
    transition: all 0.3s ease-in-out;
    color: var(--color-2);
    opacity: 0.7;
}
.sidebar__widget ul li a:hover{
    color: var(--dinevo-primary-color);
}
.sidebar__widget ul ul {
    padding-left: 15px;
    padding-top: 10px;
}
.wpr-sidebar-search-input.input-field {
    display: flex;
}
.wpr-postbox-no-results .sidebar__widget-px .wpr-sidebar-search-input input {
    height: 50px;
    border: 1px solid rgba(var(--dinevo-primary-color-rgb), 0.14);
    border-right: none;
    border-radius: 10px 0 0 10px;
    padding: 0 15px;
    color: var(--color-gray);
    font-size: 16px;
    outline: none;
    font-family: var(--ff-dm-sans);
    background-color: #fff;
    min-width: 0;
}
.wpr-postbox-no-results .sidebar__widget-px .wpr-sidebar-search-input button {
    width: 50px;
    height: 50px;
    background-color: var(--dinevo-primary-color);
    border: none;
    border-radius: 0 10px 10px 0;
    color: var(--color-white);
    font-size: 18px;
    cursor: pointer;
    transition: all 0.5s ease;
}
.wpr-postbox-no-results .sidebar__widget-px .wpr-sidebar-search-input button:hover {
    background-color: #000;
}
.sidebar__widget  span.wp-calendar-nav-prev a {
    color: #222;
}
.sidebar__widget #wp-calendar thead th {
  padding-bottom: 10px;
  text-align: center;
  color: #222;
}
.sidebar__widget #wp-calendar tbody td#today {
  background: #f5f5f5;
  color: #222;
}
.wp-block-post-comments-form .comment-reply-title {
    color: #000;
    margin-bottom: 15px;
}
.wp-block-quote {
    background: #f9f7ed;
}
.wp-block-pullquote blockquote {
    background: #f9f7ed;
}
.wp-block-pullquote blockquote::before {
    color: #000;
}
.wp-block-quote::before {
    color: #000;
}

/*widgets css update*/
.testimonial-two__testimonial .item-content {
  gap:  30px;
  padding: 20px 30px;
  justify-content: space-between;
  display: flex;
}
.popular-dishes-cloud-ktchen__item .item-content .item-footer .price {
    width: 70px;
    font-size: 12px;
}
.featcher-thumb {
    border-radius: 20px;
    overflow: hidden;
}
@media only screen and (min-width: 991px) {
    .process-cloud-ktchen__items .process-cloud-ktchen__item:nth-of-type(3) {
        flex-direction: column-reverse;
    }
}
.contact-cloud-ktchen__thumb img {
    max-height: 800px;
}
.error-cloud-kitchen__content .content-title {
    margin-bottom: 20px;
}
.wpr-shop-details-right-wrap .wpr-product-details-title {
    color: var(--dinevo-primary-color);
    font-family: var(--ff-boldonse);
    font-size: 24px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: -0.48px;
    text-transform: uppercase;
    margin-bottom: 24px;
}
.achievements-one__list Specificity: (0,1,0){
    margin-bottom: 60px;
}
.breadcrumb_header.cloud-ktchen__header .header-title {
    margin-inline: auto;
    margin-bottom: 0;
    text-align: center;
    color: var(--color-white);
    font-family: var(--ff-boldonse);
    font-size: 120px;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: -2.4px;
    text-transform: uppercase;
}
@media only screen and (max-width: 1199.98px) {
    .breadcrumb_header.cloud-ktchen__header .header-title {
        font-size: 80px;
    }
}
@media only screen and (max-width: 991.98px) {
    .breadcrumb_header.cloud-ktchen__header .header-title {
        font-size: 75px;
    }
}
@media only screen and (max-width: 767.98px) {
    .breadcrumb_header.cloud-ktchen__header .header-title {
        font-size: 60px;
    }
}
@media only screen and (max-width: 575.98px) {
    .breadcrumb_header.cloud-ktchen__header .header-title {
        font-size: 45px;
    }
}
.about-three__content .highlight-items .highlight-item .highlight-title {
    color: #8b1e1e;
}
.about-three__content .testimonial-three__ratings .rating-content .rating-text {
    font-family: var(--ff-dm-sans);
    font-size: 16px;
    font-weight: 500;
}
.hero-three__bg-slider {
    position: absolute !important;
    z-index: -2 !important;
}
.no-fill {
color: #f4f0e9;
-webkit-text-stroke-width:1px;
-webkit-text-stroke-color:#3e2723;
}
.wpr-course-grid-select.wpr-course-grid-sidebar-select select {
    outline: 0;
}
.header-three-phone-call {
    color: var(--color-white);
    text-align: center;
    leading-trim: both;
    text-edge: cap;
    font-family: Boldonse;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: -0.28px;
    text-transform: uppercase;
}
.header-three-phone-call2 {
    color: var(--dinevo-primary-color);
}
body.restaurant-page .widget {
    border: 1px dashed rgba(var(--dinevo-primary-color-rgb), 0.14);
    border-radius: 0;
}

body.restaurant-page .widget form input, 
body.restaurant-page .widget form button {
    border-radius: 0;
}
body.restaurant-page .widget form input {
    border: 1px dashed rgba(var(--dinevo-primary-color-rgb), 0.14);
}
body.restaurant-page .widget .widget-title {
    border-bottom: 1px dashed rgba(var(--dinevo-primary-color-rgb), 0.14);
}
body.restaurant-page .widget__recent-posts .post-item .item-thumb {
    border-radius: 0;
}
body.restaurant-page .blog-one-main__item {
    background-color: transparent;
    border-radius: 0px;
    border: 1px dashed rgba(var(--dinevo-primary-color-rgb), 0.14);
}
body.restaurant-page .blog-one-main__item .blog-thumb a {
    border-radius: 0;
}
body.restaurant-page .blog-one-main__item .blog-content .content-footer {
    border-top: 1px dashed rgba(var(--dinevo-primary-color-rgb), 0.14);
}
body.restaurant-page .blog-one-main__item .blog-content .content-footer .read-more-btn{
    border-radius: 0;
}
body.restaurant-page .blog-one-main__item .blog-thumb .blog-date {
    border-radius: 0px;
    background: var(--dinevo-secondary-color);
    color: var(--color-white);
}
body.sushi-restaurant-page .about-four__content .reservation-form .input-form::after{
    font-family: "Font Awesome 7 Pro";
}
body.sushi-restaurant-page .about-four__content .reservation-form .input-form select:focus {
    outline: 0;
    box-shadow: none;
}
body.sushi-restaurant-page .reservation-three__form .input-wrap input:focus, .reservation-three__form .input-wrap select:focus {
    box-shadow: none;
}
body.sushi-restaurant-page .testimonial-three__ratings .author-thumbs img {
    border: 2px solid var(--dinevo-secondary-color);
}
body.sushi-restaurant-page .history-one__item .item-thumb {
    border-radius: 0px;
}
body.sushi-restaurant-page .team-three__item {
    border: 1px solid rgba(var(--dinevo-primary-color-rgb), 0.14);
}
body.sushi-restaurant-page .team-three__item:hover {
    border-color: var(--dinevo-primary-color);
}
body.sushi-restaurant-page .team-three__item .item-content {
    border: 1px solid rgba(var(--dinevo-primary-color-rgb), 0.14);
}
body.sushi-restaurant-page .team-three__item:hover .item-content .item-icon {
    background-color: var(--dinevo-primary-color);
    border-color: var(--dinevo-primary-color);
    color: var(--color-white);
}
body.sushi-restaurant-page .team-three__item .item-content .item-icon {
    border: 1px solid rgba(var(--dinevo-primary-color-rgb), 0.14);
    color: var(--dinevo-primary-color);
}
body.sushi-restaurant-page .team-four__item:hover .item-content .item-icon {
    background-color: var(--dinevo-primary-color);
    border-color: var(--dinevo-primary-color);
    color: var(--color-white);
}
body.sushi-restaurant-page .team-four__item .item-content .item-icon:hover {
    background-color: var(--accent-color);
    border-color: var(--accent-color);
    color: var(--color-white);
}
body.sushi-restaurant-page .common-button-two.v3 {
    background-color: var(--accent-color);
    color: var(--color-white);
    border-color: var(--accent-color);
}
body.sushi-restaurant-page .faq-common.v3 .faq-common__accordion .accordion-item,
body.patisserie-page .faq-common.v3 .faq-common__accordion .accordion-item {
    border: 1px solid rgba(var(--dinevo-primary-color-rgb), 0.14) !important;
}

body.sushi-restaurant-page .widget,
body.patisserie-page .widget {
    border-radius: 0;
}
body.sushi-restaurant-page .blog-one-main__item .blog-thumb .blog-date {
    border-radius: 0px;
    background: var(--accent-color);
    color: var(--color-white);
}
body.patisserie-page .blog-one-main__item .blog-thumb .blog-date {
    border-radius: 0px;
    background: var(--dinevo-secondary-color);
    color: var(--color-white);
}
body.sushi-restaurant-page .blog-one-main__item,
body.patisserie-page .blog-one-main__item {
    background-color: transparent;
    border-radius: 0px;
    border: 1px solid rgba(var(--dinevo-primary-color-rgb), 0.14);
}
body.sushi-restaurant-page .widget form input, 
body.patisserie-page  .widget form input, 
body.sushi-restaurant-page .widget form button,
body.patisserie-page .widget form button{
    border-radius: 0;
}
body.sushi-restaurant-page .blog-one-main__item .blog-thumb a,
body.patisserie-page .blog-one-main__item .blog-thumb a{
    border-radius: 0;
}
body.sushi-restaurant-page .widget__recent-posts .post-item .item-thumb,
body.patisserie-page .widget__recent-posts .post-item .item-thumb {
    border-radius: 0px;
}
body.sushi-restaurant-page .widget__cta .cta-content .cta-title {
    margin-block: 25px 35px;
}

body.body.patisserie-page .tagcloud a {
    padding: 0 16px;
    border-radius: 100px;
}

body.body.patisserie-page .tagcloud a:hover, 
body.body.patisserie-page .tagcloud a.active {
    background-color: var(--dinevo-primary-color);
    border-color: var(--dinevo-primary-color);
    color: var(--color-white)
}
body.patisserie-page .blog-one-main__item .blog-content .content-title a:hover{
    color: var(--dinevo-secondary-color);
}
body.patisserie-page  .widget__recent-posts .post-item .item-content .post-title a:hover {
    color: var(--dinevo-secondary-color);
    opacity: 1;
}
body.patisserie-page .reservation-three__form .input-wrap input,
body.patisserie-page .reservation-three__form .input-wrap select{
    border: 1px solid rgba(var(--dinevo-primary-color-rgb), 0.14);
}
body.patisserie-page .menu-three__item {
    border: 1px solid rgba(var(--dinevo-secondary-color-rgb), 0.2);
}
body.patisserie-page .breadcrumb-two__header nav .breadcrumb .breadcrumb-item {
    color: var(--dinevo-primary-color);
}
body.patisserie-page .breadcrumb-two__header nav .breadcrumb .breadcrumb-item + .breadcrumb-item::before {
    background-color: var(--dinevo-primary-color);
}
body.patisserie-page .locationv2 .opening-four__content .opening-location {
    margin-bottom: 0px;
}
body.patisserie-page .shop-five__item .item-thumb .item-action .wishlist-btn svg {
    color: #fff;
}
body.patisserie-page .price .woocommerce-Price-amount {
    color: inherit;
    font-size: inherit;
}
body.patisserie-page .menu-five__wrapper {
    display: inherit;
}
body.patisserie-page div#custom_html-2 {
    padding: 0;
    border: 0;
    border-radius: 0;
}
.admin-bar .header-five {
    top: 50px !important;
}
.hamburger_search button i::before {
    font-family: "Font Awesome 7 Pro";
}

/*booking form*/
.rtb-booking-form legend {
    display: none;
}
.rtb-booking-form fieldset.reservation {
    display: flex;
    gap: 20px;
}
.rtb-booking-form  fieldset.rtb-contact {
    display: flex;
    gap: 20px;
}
.rtb-booking-form input, #stripe-payment-form #cardElement, .rtb-booking-form .reservation .rtb-select.party select {
    width: 100%;
    height: 50px;
    border-radius: 10px;
    border: 1px solid rgba(var(--accent-color2-rgb), 0.14);
    background-color: var(--color-white);
    color: var(--color-gray);
    font-family: var(--ff-dm-sans);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.6;
    outline: none;
    padding: 13px 20px;
    padding-right: 20px;
    padding-right: 45px;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
}
.rtb-booking-form .add-message {
    display: none;
}
.rtb-booking-form fieldset>div {
    width: 33.333%;
}
.rtb-booking-form input, #stripe-payment-form #cardElement {
    width: 100%;
    max-width: 100% !important;
}
.rtb-booking-form label{
    color: var(--dinevo-primary-color);
    font-family: var(--ff-dm-sans);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
    text-transform: capitalize;
    margin-bottom: 12px;
}
fieldset.rtb-form-footer button {
    color: var(--color-white);
    background-color: var(--dinevo-primary-color);
    border: none;
    padding-block: 17px;
    padding-inline: 23px;
    border-radius: 4px;
}
div.rtb-booking-form fieldset {
    padding-bottom: 0;
    margin-bottom: 0;
}
.rtb-booking-form .rtb-form-footer .rtb-form-submit {
    margin-top: 0;
    width: 100%;
    text-align: center;
}
.rtb-booking-form input:focus {
    border-color: var(--dinevo-primary-color);
    box-shadow: none;
}
div.rtb-booking-form {
    margin-bottom: 0;
}
.position-unset{
    position: unset !important; 
}
.single-post .breadcrumb_header.cloud-ktchen__header .header-title,
.single-post .breadcrumb-two__header .header-title{
    font-size: 52px;
}

@media (max-width: 767px) {
    .single-post .breadcrumb_header.cloud-ktchen__header .header-title,
    .single-post .breadcrumb-two__header .header-title {
        font-size: 32px;
    }
}
.single-post .cloud-ktchen__header .header-title .top-tag {
    display:none;
}
.admin-bar .header-cloud-ktchen.menu-area-two {
    top: 50px !important;
}
@media (max-width: 767px) {
    .admin-bar .header-cloud-ktchen.menu-area-two {
        top: 75px !important;
    }
}
.wpr-postbox-details-article.blog-single__wrapper h5{
    margin-bottom: 20px;
}
body.cafe-page .comments-area .submit-btn .text-wrap {
    color: #fff;
}
body.cafe-page .blog-one-main__item .blog-content .content-title a:hover {
    color: var(--accent-color4);
}
body.restaurant-page .related-one__item .item-thumb {
    border-radius: 0;
}
body.restaurant-page .blog-one-main__item .blog-content .content-title a:hover {
    color: var(--dinevo-secondary-color);
}
.single-post .breadcrumb-two__header nav .breadcrumb {
    display: none;
}
body.restaurant-page .history-one__item .item-thumb {
    border-radius: 0px;
}
body.patisserie-page .related-one__item .item-thumb .item-action .wishlist-btn {
    background-color: var(--dinevo-primary-color);
}
body.patisserie-page .related-one__item .item-content .item-title a:hover {
    color: var(--dinevo-secondary-color);
}
.single-post.patisserie-page .breadcrumb-five__header.patisserie__header .header-title .top-tag {
    display: none;
}
.single-post.patisserie-page .breadcrumb-five__header.patisserie__header .header-title .bottom-tag {
    display: none;
}
.single-post.patisserie-page .breadcrumb-five__header.patisserie__header .header-title {
    font-size: 52px;
    width: auto;
}
@media only screen and (max-width: 575.98px) {
    .single-post.patisserie-page .breadcrumb-five__header.patisserie__header .header-title {
    font-size: 36px;
}
}
.reservation-three__form  input[type="date"]::-webkit-calendar-picker-indicator {
  color: var(--color-gray);
}
.reservation-three__form .input-wrap input.wpcf7-validates-as-date {
    padding-right: 20px;
}

.single-post .cloud-ktchen__header .header-title .top-tag,
.single-post .cloud-ktchen__header .header-title .bottom-tag.round{
    display:none;
}

body.cafe-page .related-one__item .item-content .item-title a:hover, body.restaurant-page .related-one__item .item-content .item-title a:hover {
    color: var(--dinevo-primary-color);
}
body.cafe-page .shop-one-main__item .item-thumb .item-action .wishlist-btn svg, body.restaurant-page .shop-one-main__item .item-thumb .item-action .wishlist-btn svg {
    color: var(--dinevo-primary-color);
}
body.cafe-page .shop-one-main__item .item-thumb .item-action .wishlist-btn:hover svg, body.restaurant-page .shop-one-main__item .item-thumb .item-action .wishlist-btn:hover svg {
    color: #fff;
}
body.cafe-page .default-cart-meta .cart-icon span {
    background-color: #ffff;
}
body.cafe-page .has-child-menu-mega-menu .sub-nav {
    top: 100%;
}
body.sushi-restaurant-page div#custom_html-2 {
    padding: 0;
    border: none;
}
body.sushi-restaurant-page .locationv2 .opening-four__content .opening-location {
    margin-bottom: 0px;
}
h4.page-title.blog-search-title.no-results-title.wpr-postbox-no-results-title {
    text-transform: uppercase;
    color: var(--dinevo-primary-color);
    margin-bottom: 20px;
}
.cart-count-info .font-family-abril-display {
    margin-bottom: 10px !important;
}
.cart-count-info p{
    margin-bottom: 10px;
}